<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>to do list</title>
</head>

<body>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <%for (let i=0; i<newListItems.length; i++){ %>

        <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[i] %></p>
        </div>



        <%  } %>
        <form class="item" action="/" method="POST" >
            <input style="font-size:1.2em" type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" style="font-size:1.2em" name= "list"  value=<%= listTitle %>> +</button>
    
        </form>

    </div>


   

</body>

</html>






<!-- this is a way if using ejs templating to run javascript inside the html as long as it is control flow ()if then < % -->