<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>to do list</title>
</head>
<body>

    <h1> <%= kindOfDay %> </h1>
    <ul>
       
       
        <%for (let i=0; i<newListItems.length; i++){ %>
            <li> <%= newListItems[i] %></li>
      <%  } %>
    </ul>

    <form class ="" action="/" method="POST">
    <input style="font-size:1.2em" type="text" name="newItem">
    <button style="font-size:1.2em" type="submit" name="button">submit</button>
    
    </form>
    
</body>
</html>






    <!-- this is a way if using ejs templating to run javascript inside the html as long as it is control flow ()if then < % -->
   